## Install required libraries

In [1]:
! pip install pandas numpy

Requirement already satisfied: pandas in c:\users\bujji\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\bujji\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bujji\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bujji\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bujji\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\bujji\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Import libraries in Python

In [2]:
import pandas as pd
import numpy as np

## Read CSV into DataFrame

In [3]:
df = pd.read_csv("sales_data.csv")

In [4]:
## check data
df.head()      # first 5 rows
df.tail()      # last 5 rows
df.info()      # data types & nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   50 non-null     int64
 1   Product   50 non-null     object
 2   Category  50 non-null     object
 3   Quantity  50 non-null     int64
 4   Price     50 non-null     int64
 5   Region    50 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

## Basic statistical analysis

In [5]:
df.describe()

        OrderID   Quantity         Price
count  50.00000  50.000000     50.000000
mean   25.50000   3.060000  21232.000000
std    14.57738   2.510468  22549.106865
min     1.00000   1.000000    800.000000
25%    13.25000   1.000000   3275.000000
50%    25.50000   2.000000  12000.000000
75%    37.75000   4.000000  35750.000000
max    50.00000  12.000000  75000.000000

In [8]:
df['Quantity'].sum()

153

## Filtering & selecting data

In [10]:
# Filter rows
electronics = df[df['Category'] == 'Electronics']

In [11]:
## Select columns
df[['Product', 'Price']]

            Product  Price
0            Laptop  55000
1             Chair   4500
2            Mobile  20000
3             Table  12000
4        Headphones   3000
5           Monitor  15000
6          Keyboard   1500
7             Mouse    800
8           Printer  18000
9              Sofa  45000
10              Bed  60000
11           Tablet  28000
12       Smartwatch  12000
13        Bookshelf   9000
14           Camera  65000
15           Router   3500
16             Desk  15000
17               TV  72000
18               AC  48000
19        Microwave  22000
20              Fan   3500
21     Refrigerator  52000
22  Washing Machine  46000
23             Lamp   1800
24         Cupboard  38000
25          Speaker   9000
26       Power Bank   2500
27         Iron Box   3200
28            Stool   2200
29   Water Purifier  29000
30          Charger   1200
31   Extension Cord   1600
32        Projector  68000
33     Office Chair   9500
34        Pen Drive    900
35        Hard Disk   6200
36       Side Table   7500
37       Air Cooler  21000
38              UPS  14000
39       Whiteboard   6800
40           Tripod   3500
41           Webcam   4200
42              CPU  39000
43    Graphics Card  75000
44     Dining Table  58000
45   Vacuum Cleaner  17000
46       Smart Bulb   1800
47        Sound Bar  26000
48       Wall Clock   2500
49       Calculator   1400

In [12]:
## Slice rows
df.iloc[0:3]

   OrderID Product     Category  Quantity  Price Region
0        1  Laptop  Electronics         2  55000  South
1        2   Chair    Furniture         5   4500  North
2        3  Mobile  Electronics         3  20000   East

## Save filtered data

In [14]:
electronics.to_csv("electronics_sales.csv", index=False)